/* .offer-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 20rem;
	height: 20rem;
	border-radius: 1rem;
}

@media (max-width: 900px) {
	.offer-card {
		width: 15rem;
		height: 20rem;
	}
}

@media (max-width: 500px) {
	.offer-card {
		width: 11rem;
		height: 20rem;
	}
} */

.offer-card {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 20rem;
	height: 17rem;
	border-radius: 1rem;
	overflow: hidden;
	opacity: 1;
	transition: transform 1s;
	align-items: center;
	justify-content: center;
}

.offer-card img {
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.offer-card-hover:hover {
	transform: scale(1.02);
}

@media (max-width: 1000px) {
	.offer-card {
		width: 15rem;
		height: 20rem;
	}
}

@media (max-width: 500px) {
	.offer-card {
		width: 11rem;
		height: 20rem;
	}
}
