.scroll-container {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.scroll-container-inner-wrapper {
	display: flex;
	gap: 1rem;
}

.carousel-container {
	display: flex;
	width: 100svw;
	height: 22rem;
	justify-content: center;
	gap: 1rem;
}

.text-container {
	width: 50%;
	text-align: center;
}

.bordered-container {
	display: flex;
	width: 80%;
	border-top: solid 1px #e7bf8c;
	border-bottom: solid 1px #e7bf8c;
	padding: 2rem 0 2rem;
	align-items: center;
	justify-content: space-between;
	color: white;
}

.image-grid-container,
.image-grid-container-mobile {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.image-grid-item,
.image-grid-item-mobile {
	position: relative;
}

.image-grid-item img,
.image-grid-item-mobile img {
	width: 16rem;
	height: auto;
	border-radius: 10px;
	transition: 0.5s;
}

.image-grid-item img:hover,
.image-grid-item-mobile img:hover {
	cursor: pointer;
	scale: 1.1;
}

@media (max-width: 1280px) {
	.image-grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.image-grid-item img {
		width: 12rem;
	}

	.image-grid-item:nth-child(8) {
		display: none;
	}
}

@media (max-width: 768px) {
	.image-grid-item-mobile img {
		width: 12rem;
	}
}

@media (max-width: 600px) {
	.bordered-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		width: fit-content;
		padding: 2rem 1rem 2rem;
		row-gap: 2rem;
	}
	.image-grid-container {
		display: none;
	}
	.image-grid-item-mobile img {
		width: 25svw;
	}
}

@media (max-width: 500px) {
	.text-container {
		width: 80%;
	}
}

@media (max-width: 425px) {
	.image-grid-container-mobile {
		grid-template-columns: repeat(2, 1fr);
	}
	.image-grid-item-mobile img {
		width: 10rem;
	}
}
@media (max-width: 400px) {
	.bordered-container {
		width: 80svw;
		padding: 1rem 1rem 1rem;
	}
}
