.landing-logo {
	width: 12.5rem;
	height: auto;
	user-select: none;
}
.header-logo {
	width: auto;
	height: 4rem;
	user-select: none;
}
.social-media-logo {
	width: 2rem;
	height: auto;
	user-select: none;
}

.svg-illustrations {
	width: 5rem;
	height: auto;
	user-select: none;
}

.svgs {
	width: 2.5rem;
	height: auto;
	user-select: none;
}

@media (max-width: 1920px) {
	.landing-logo {
		width: 12.5rem;
		user-select: none;
	}
	.header-logo {
		height: 4rem;
		user-select: none;
	}
	.social-media-logo {
		width: 2rem;
		user-select: none;
	}
}

@media (max-width: 900px) {
	.landing-logo {
		width: 10rem;
	}
	.header-logo {
		height: 2rem;
	}
	.svg-illustrations {
		width: 3rem;
	}
}

@media (max-width: 600px) {
	.landing-logo {
		width: 10rem;
	}
	.header-logo {
		height: 2rem;
	}
	.social-media-logo {
		width: 1rem;
	}
}
